[Desktop Entry]
Comment=Manage, store, secure, and share unlimited passwords
Exec=/opt/bitwarden/Bitwarden-2025.9.0-x86_64.AppImage
GenericName=Password Manager
Icon=/opt/bitwarden/bitwarden.svg
MimeType=x-scheme-handler/bitwarden;
Name=Bitwarden
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
