[Desktop Entry]
Comment=Elegant Facebook Messenger desktop app
Exec=/opt/caprine-2.61.0/caprine-2.61.0.AppImage
Icon=/opt/caprine-2.61.0/caprine.svg
Name=Caprine 2.61.0
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
