[Desktop Entry]
Comment=Cross-platform IDE for C and C++
Exec=/opt/clion-2026.1.1/bin/clion
Icon=/opt/clion-2026.1.1/bin/clion.svg
Name=CLion 2026.1.1
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
