[Desktop Entry]
Comment=Capable and Ergonomic IDE for JVM
Exec=/opt/idea-2026.1.1/bin/idea %f
Icon=/opt/idea-2026.1.1/bin/idea.svg
Name=IntelliJ IDEA 2026.1.1
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
