[Desktop Entry]
Comment=Lightning-smart PHP IDE
Exec=/opt/phpstorm-2026.1.1/bin/phpstorm %f
Icon=/opt/phpstorm-2026.1.1/bin/phpstorm.svg
Name=PhpStorm 2026.1.1
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
