[Desktop Entry]
Comment=Graphical tool for working with containers and K8s
Exec=/opt/podman-desktop-1.25.1/podman-desktop
Icon=/opt/podman-desktop-1.25.1/podman-desktop.svg
Name=Podman Desktop 1.25.1
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
