[Desktop Entry]
Comment=A collaboration platform for API development
Exec=/opt/postman-11.60.4/Postman
Icon=/opt/postman-11.60.4/app/icons/icon_128x128.png
Name=Postman 11.60.4
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
