[Desktop Entry]
Comment=Git GUI that improves development productivity
Exec=/opt/smartgit/bin/smartgit.sh
Icon=/opt/smartgit/bin/smartgit.svg
Name=SmartGit 25.1
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
