[Desktop Entry]
Comment=Testing tool for SOAP and REST APIs
Exec=/opt/soapui-5.7.2/bin/soapui.sh
Icon=/opt/soapui-5.7.2/bin/soapui.svg
Name=SoapUI 5.7.2
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
