[Desktop Entry]
Comment=The smartest JavaScript IDE
Exec=/opt/webstorm-2025.3.3/bin/webstorm %f
Icon=/opt/webstorm-2025.3.3/bin/webstorm.svg
Name=WebStorm 2025.3.3
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
