[Desktop Entry]
Comment=The smartest JavaScript IDE
Exec=/opt/webstorm-2026.1.1/bin/webstorm %f
Icon=/opt/webstorm-2026.1.1/bin/webstorm.svg
Name=WebStorm 2026.1.1
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
